<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dalPon us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<!-- Menú -->
<nav id="menu" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/1sf-1.png" alt="Logo" width="150">
            </a>
        <!-- <a class="navbar-brand" href="#"> dalPon us</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/about_us.html">Our Story</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="https://www.dalpon.com/" target="_blank">Dalpon Lawn Care</a>
                        <a class="dropdown-item" href="https://mli-in.com" target="_blank">Midwest</a>
                        <a class="dropdown-item" href="../views/scope_of_services.html">Scope of Services</a>
                        <a class="dropdown-item" href="../views/outworks_supplies.html">Out Works Supplies</a>
                        <a class="dropdown-item" href="../views/cost_eficience.html">Cost Efficiency and Planning</a>
                        <a class="dropdown-item" href="../views/goodair_comercial.html">Good Air Tree Service</a>
                        <a class="dropdown-item" href="../views/dalpon_snow.html">Dalpon Snow & Ice Management</a>
                        <a class="dropdown-item" href="../views/studio_to_the_edge.html">Studio to the Edge</a>
                        <a class="dropdown-item" href="http://www.v24works.com/" target="_blank">V24 Works</a>
                        <a class="dropdown-item" href="http://www.v24staffing.com/" target="_blank">V24 Staffing</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24works.com/industries/" target="_blank">Industries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24staffing.com/blog/" target="_blank">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container about">
    <!-- Primera fila -->
    <div class="row">
        <!-- Columna de texto -->
        <div class="col-md-6">
            <p id="title">Dalpon Us Outworks,</p>
            <p>At Dalpon Us Outworks, we are a company dedicated to exceeding expectations and excelling in the business arena. The name "Outworks" encapsulates our essence, representing our commitment to efficiency, dedication, and excellence in every aspect of our business.</p>
            <p id="title">Our mission</p>
            <p>at Dalpon Us Outworks is to lead with innovation in the market, offering solutions that go beyond the conventional. We work tirelessly to exceed our customers' expectations and stand out in every project we engage in.</p>
            <!-- <p id="title">Dalpon Us Outworks</p>
            <p>En Dalpon Us Outworks, somos una empresa dedicada a superar las expectativas y
            sobresalir en el ámbito empresarial. El nombre "Outworks" encapsula nuestra esencia,
            representando nuestro compromiso con la eficiencia, la dedicación y la excelencia en cada
            aspecto de nuestro negocio.</p>
            <p id="title">Nuestra Misión</p>
            <p>Nuestra misión en Dalpon Us Outworks es liderar con innovación en el mercado, ofreciendo
            soluciones que van más allá de lo convencional. Trabajamos incansablemente para superar
            las expectativas de nuestros clientes y destacarnos en cada proyecto en el que
            participamos.</p> -->
        </div>
        <!-- Columna de imagen -->
        <div class="col-md-6">
            <img src="../img/24-hands.png" alt="imagen-about" class="img-fluid mx-auto d-block">
        </div>
    </div>

    <!-- Segunda fila -->
    <div class="row">
        <!-- Primera columna de imagen -->
        <!-- <div class="col-md-6">
            <img src="../img/3_1.png" alt="V24" width="200px" class="img-fluid mx-auto d-block">
        </div> -->
        <!-- Segunda columna de imagen -->
        <!-- <div class="col-md-6">
            <img src="../img/3_1.png" alt="Imagen 3" width="200px" class="img-fluid mx-auto d-block">
        </div> -->
    </div>

    <!-- Tercera fila -->
    <div class="row">
        <!-- Columna de texto centrado -->
        <div class="col-md-12 text-center">
            <p id="slongan"><br>"GREAT PEOPLE, GREAT JOBS."</p>
        </div>
    </div>
</div>

    <!-- Script de Bootstrap  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
