<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dalPon us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- Menú -->
<nav id="menu" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/1sf-1.png" alt="Logo" width="150">
            </a>
        <!-- <a class="navbar-brand" href="#"> dalPon us</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/about_us.html">Our Story</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="https://www.dalpon.com/" target="_blank">Dalpon Lawn Care</a>
                        <a class="dropdown-item" href="https://mli-in.com" target="_blank">Midwest</a>
                        <a class="dropdown-item" href="../views/scope_of_services.html">Scope of Services</a>
                        <a class="dropdown-item" href="../views/outworks_supplies.html">Out Works Supplies</a>
                        <a class="dropdown-item" href="../views/cost_eficience.html">Cost Efficiency and Planning</a>
                        <a class="dropdown-item" href="../views/goodair_comercial.html">Good Air Tree Service</a>
                        <a class="dropdown-item" href="../views/dalpon_snow.html">Dalpon Snow & Ice Management</a>
                        <a class="dropdown-item" href="../views/studio_to_the_edge.html">Studio to the Edge</a>
                        <a class="dropdown-item" href="http://www.v24works.com/" target="_blank">V24 Works</a>
                        <a class="dropdown-item" href="http://www.v24staffing.com/" target="_blank">V24 Staffing</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24works.com/industries/" target="_blank">Industries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24staffing.com/blog/" target="_blank">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container about">
    <!-- Primera fila -->
    <div class="row">
               <!-- Columna de imagen -->
               <div class="col-md-12">
                <img src="../img/5_1sf-1.png" alt="dalpon" width="500px" class="img-fluid mx-auto d-block"  id="imagencentral">
            </div>
        <!-- Columna de texto -->
        <!-- <div class="col-md-7">
            <p id="title">Snow & Ice Management
            </p>
            <p>Snow & Ice Removal 
                Maintain a curb appeal while preventing accidents. Unfortunate accidents occur when opting for unprofessional snow and ice removal options in Indianapolis. The expertise of our team and specialized equipment will provide you with the peace of mind that comes with valuable services   
            </p>
          
        <img src="../img/dalpon_snow.png" alt="Scope of services" class="img-fluid mx-auto d-block">

        </div> -->

    </div>
    <br><br>
    <!-- Segunda fila -->
    <div class="row">
        <div class="col-md-12 text-center">
            <p id="title">Snow & Ice Removal
            </p>
            <p>Snow & Ice Removal 
                Maintain a curb appeal while preventing accidents. Unfortunate accidents occur when opting for unprofessional snow and ice removal options in Indianapolis. The expertise of our team and specialized equipment will provide you with the peace of mind that comes with valuable services   
            </p>
            <br><br>
        <img src="../img/dalpon_snow.png" alt="Scope of services" class="img-fluid mx-auto d-block">

        </div>

    </div>
<br><br><br><br>
    <!-- snow more-->
    <div class="row">
        <!-- Columna de texto centrado -->
        <div class="col-md-12 text-center">
            <p id="title">More than 10 years of experience and quality in Indianapolis.</p>
            <p>Snow plowing is the process of removing snow from roads, driveways, parking lots, and other outdoor areas using specialized equipment called snow plows. These vehicles are equipped with blades or shovels that push or lift the snow to clear the designated area. Snow plowing is typically performed by professional snow removal companies or municipal services during the winter months when snowfall accumulates on the ground. 
                In Indianapolis, DalPon Snow has been performing this work with excellence for over 10 years. Their commitment to quality and efficiency is reflected in their outstanding work. The experience and professionalism of DalPon Snow have been instrumental in ensuring that roads and outdoor spaces in the region remain functional and accessible during winter weather conditions. 
              
            </p>
            <br><br>
        <img src="../img/snow_more.png" alt="Scope of services" class="img-fluid mx-auto d-block">
        </div>
    </div>
    <br><br><br><br>
    <!-- snow technology -->
    <div class="row">
        <!-- Columna de texto centrado -->
        <div class="col-md-12 text-center">
            <p id="title">technology-based snow removal</p>
            <p>we use our technological platform, Contractor Foreman, to drive efficiency and enhance communication with our network of providers and customers, with a strong focus on customer service excellence. All information related to location, work order history, schedules, site visits, and pricing is stored here. This becomes part of the site record and plan for each location, contributing to decision-making about future activities on the site with an exceptional emphasis on customer satisfaction. All our snow removal partners use Contractor Foreman's mobile technology in the field to take photos and verify their work, ensuring top-quality service. All information is stored at the site level, allowing us to access detailed historical data to make informed decisions from year to year, always with a commitment to providing exceptional service to our customers. 

            </p>
            <br><br>
        <img src="../img/snow_tech.png" alt="Scope of services" class="img-fluid mx-auto d-block">
        </div>
    </div>


</div>

    <!-- Script de Bootstrap  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
