<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dalPon us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- Menú -->
<nav id="menu" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/1sf-1.png" alt="Logo" width="150">
            </a>
        <!-- <a class="navbar-brand" href="#"> dalPon us</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/about_us.html">Our Story</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="https://www.dalpon.com/">Dalpon Lawn Care</a>
                        <a class="dropdown-item" href="https://mli-in.com">Midwest</a>
                        <a class="dropdown-item" href="../views/scope_of_services.html">Scope of Services</a>
                        <a class="dropdown-item" href="../views/outworks_supplies.html">Out Works Supplies</a>
                        <a class="dropdown-item" href="../views/cost_eficience.html">Cost Efficiency and Planning</a>
                        <a class="dropdown-item" href="../views/goodair_comercial.html">Good Air Tree Service</a>
                        <a class="dropdown-item" href="../views/dalpon_snow.html">Dalpon Snow & Ice Management</a>
                        <a class="dropdown-item" href="../views/studio_to_the_edge.html">Studio to the Edge</a>
                        <a class="dropdown-item" href="http://www.v24works.com/">V24 Works</a>
                        <a class="dropdown-item" href="http://www.v24staffing.com/">V24 Staffing</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24works.com/industries/">Industries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://v24staffing.com/blog/">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container about">
    <!-- Primera fila -->
    <div class="row">
               <!-- Columna de imagen -->
               <div class="col-md-12">
                <img src="../img/6_1_sf-1.png" alt="scope" width="500px" class="img-fluid mx-auto d-block"  id="imagencentral">
            </div>
     </div>

     <br><br>
    <div class="row">
        <div class="col-md-12 text-center">
            <p id="title">Landscape Design</p>
            <p>Taking Creativity to the Edge: Projecting Reality with 3D Visualization.
                The architecture firm 'To The Edge' collaborates with the team at DalPon Lawn Care, a registered MBE, and V24 Works, a registered VOB, under the leadership of Damian Pondal, who owns both businesses. This collaboration forms a dedicated team that combines their extensive experience and unique approach to project and maintenance work. Focused on landscaping, they cover private, public, and state spaces, creating diverse and harmonious environments. Each project is approached from the perspective of beauty and aesthetic proportion, seeking balanced and captivating designs. Their passion is to create exceptional architectural spaces that reflect the identity and diversity of the people they serve, turning each place into a transformative experience. The diverse team of architects received their education and training in Argentina and is committed to design excellence, aiming to exceed expectations.</p>
                <br><br>
        <img src="../img/landscape.png" alt="Scope of services" class="img-fluid mx-auto d-block">

        </div>
    </div>
    <!-- fila maxime -->
    <br><br><br><br>
    <div class="row">
        <div class="col-md-12 text-center">
            
            <p id="title">Maximize your Savings and Differentiate Yourself with Our Landscape Design Service.
            </p>
            <p>At Studio to the Edge Landscape Design, we not only offer you exceptional landscape design, but we also give you an unparalleled competitive advantage.

                Through the combination of advanced technology and a sustainable approach, we present to you how our service not only saves you money, but also provides you with exceptional quality design that exceeds all expectations.
                
                While most competitors use static photomontages, we take it one step further. We create three-dimensional models and interactive virtual models of your landscape proposals. This advanced methodology allows you to visualize your space in 3D from all angles, experiencing how it will integrate into your environment. This not only guarantees a visually stunning result, but also eliminates any uncertainty and costly adjustments in the later stages.
                </p>
                <br><br>
        <img src="../img/studio_maximize.png" alt="Scope of services" class="img-fluid mx-auto d-block">

        </div>
    </div>
    <br><br><br><br>
    <!-- fila control-->
    <div class="row">
        <div class="col-md-12 text-center">
            <p id="title">Control of Calculations and Precise Parameters.

            </p>
            <p>Our exclusive technological platform allows us to load all the parameters and specific details of your site. This not only provides a more accurate representation of what the design will look like on your property, but also allows us to keep close control of the calculations. We avoid unpleasant surprises in terms of costs and time by maintaining careful control of every aspect of the project.
            </p>
            <br><br>
        <img src="../img/control.png" alt="Scope of services" class="img-fluid mx-auto d-block">

        </div>
    </div>
    <br><br><br><br>
      <!-- fila personalizar-->
      <div class="row">
        <div class="col-md-12 text-center">
            <p id="title">Personalized and Efficient Design:
            </p>
            <p>Beyond the initial design phase, our approach keeps your long-term investment in mind.
                By using resilient plants and sustainable design elements, we create landscapes that require less maintenance and resources over time. This translates into significant savings in water, energy and maintenance costs over the years.
                
                Our custom design not only adjusts to your tastes and needs, but is also optimized for efficient use of space. This avoids the need for future costly remodels due to poorly planned space.
                
            </p>
            <br><br>
        <img src="../img/personalized.png" alt="Scope of services" class="img-fluid mx-auto d-block">
        </div>
    </div>


    <!-- Tercera fila -->
    <div class="row">
        <!-- Columna de texto centrado -->
        <div class="col-md-12 text-center">
            <!-- <p id="slongan">"GREAT PEOPLE, GREAT JOBS."</p> -->
        </div>
    </div>
</div>

    <!-- Script de Bootstrap  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
